
<div class="modal-header">
    <h3 class="modal-title">{{modelHeader}}</h3>
</div>
<div class="modal-body">
            <div >
                       
                                <div class="box-body">
                                    <form role="form" class="accountFromFields">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Account name</label>
                                            <input type="text" name="accountname" ng-model="account.account_name" class="form-control"  placeholder="Enter Account Name"/>
                                        </div>
                                         <div class="form-group">
                                            <label>Account number</label>
                                            <input type="text" name="accountnumber" ng-model="account.account_number" class="form-control" placeholder="Enter Account Number"/>
                                        </div>
                                        
                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Account type</label>
                                            <select class="form-control" name="accounttype" ng-model="account.account_type">
                                                <option value=""> -- Select Type --</option>
                                               <option value="checking">Checking</option>
                                               <option value="savings">Savings</option>
                                               <option value="paypal">PayPal</option>
                                               <option value="other2">Other/Cash</option>
                                               <option value="credit">Credit Card</option>
                                               <option value="loan">Loan</option>
                                               <option value="401k">401k</option>
                                               <option value="ira">IRA</option>
                                               <option value="pension">Pension</option>
                                               <option value="other">Other Investment</option>
                                               <option value="mutual">Mutual Funds</option>
                                            </select>
                                        </div>
                                         <div class="form-group">
                                            <label>Opening Balance:</label>
                                            <input type="text" ng-model="account.account_balance" name="account_balance" class="form-control" placeholder="Opening Balance"/>
                                        </div>
                                        <input type="hidden" ng-model="account.id" />
                                        <input type="text" ng-model="account.userId" ng-init="{{account.userId=uid}}" name="userId" />
                                      
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
   
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button  ng-click="saveAccountBtn(account)"class="btn btn-primary">Save Account</button>
</div>
