   

<div class="form-box" id="login-box">
            <div class="header">Sign In</div>
          
            <form role="form" name="loginForm"  novalidate>
                <div class="body bg-gray">
                     <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.userid.$invalid && !loginForm.userid.$pristine }">
                        <input  type="text" required name="userid" class="form-control" ng-model="user.userid" placeholder="User ID"/>
                         <p ng-show="loginForm.userid.$invalid && !loginForm.userid.$pristine" class="help-block">userID is required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                        <input type="password" required name="password" class="form-control" ng-model="user.password" placeholder="Password"/>
                    </div>          
                    <!--<div class="form-group">
                        <input type="checkbox" name="remember_me"/> Remember me
                    </div>-->
                </div>
                <div class="footer">                                                               
                    <button type="submit" id="signInBtn" ng-disabled="loginForm.$invalid" ng-click="signIn(user,loginForm.$valid)" class="btn bg-olive btn-block">Sign me in</button>  
                    
                    <p><a href="#">I forgot my password</a></p>
                    
                    <a ng-click="register()" class="text-center">Register a new membership</a>
                </div>
            </form>

            <!--<div class="margin text-center">
                <span>Sign in using social networks</span>
                <br/>
                <button class="btn bg-light-blue btn-circle"><i class="fa fa-facebook"></i></button>
                <button class="btn bg-aqua btn-circle"><i class="fa fa-twitter"></i></button>
                <button class="btn bg-red btn-circle"><i class="fa fa-google-plus"></i></button>

            </div>-->
        </div>