<div class="modal-header">
    <h3 class="modal-title">{{modelHeader}}</h3>
</div>
<div class="modal-body">
            <div >
                       
                                <div class="box-body">
                                    <form role="form">
                                        <!-- text input -->
                                        <div class="form-group">
                                            <label>Date</label>
                                            <input type="text" name="accountname" ng-model="account.accountname" class="form-control"  placeholder="Enter Account Name"/>
                                        </div>
                                         <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" name="accountnumber" ng-model="account.accountnumber" class="form-control" placeholder="Enter Account Number"/>
                                        </div>
                                        
                                        <!-- select -->
                                        <div class="form-group">
                                            <label>Category</label>
                                            <select class="form-control" name="accounttype" ng-model="account.accounttype">
                                                <option value=""> -- Select Category --</option>
                                               <option value="checking">Expense</option>
                                               <option value="savings">Income</option>
                                               <option value="paypal">Transfer</option>
                                               <option value="other2">Refund</option>
                                               <option value="credit">Paid for friend</option>
                                               <option value="loan">Shared bill</option>
                                               <option value="401k">Loan</option>
                                               <option value="ira">Settlement</option>
                                               <option value="pension">Pension</option>
                                               <option value="other">Other Investment</option>
                                               <option value="mutual">Mutual Funds</option>
                                            </select>
                                        </div>
                                         <div class="form-group">
                                            <label>Description</label>
                                            <input type="text" ng-model="account.accountbalance" name="accountbalance" class="form-control" placeholder="Opening Balance"/>
                                        </div>
                                        
                                      
                             

                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
   
</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>